.c-what-we-do {
  // background: $white;

  &.c-about__section {
    // color: $black;
    flex-direction: row;
  }
  &__content {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    max-width: 64%;
    padding-bottom: 87px;
    padding-left: var(--padding);
  }

  &__heading {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;

    h2 {
      @extend %sub-24;
    }

    &__wrapper {
      margin-top: 64px;
    }
  }

  &__desc {
    @extend %title-3;
    font-weight: 700;
    max-width: toRem(782);
    margin-top: 20px;
  }

  &__image {
    @include ratio(1, 1);
    &__wrapper {
      max-width: 36%;
      width: 100%;
      padding-right: var(--padding);
      padding-top: 6vh;
      margin-top: 65px;
      margin-left: 32px;
    }
  }

  &__footer {
    margin-top: auto;
  }

  &__companies {
    display: flex;
    margin-top: 24px;
  }
}
